.mainWrap{
 padding: 15px;
}

.singleContainer{
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 40px;
 }

 .titleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  border-radius: 10px  ;
  padding: 0 1rem;
 }

 .radiusFix{
  border-radius: 10px 10px 0px 0px;
 }

.textContent{
  opacity: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: all .5s ease;
  color: #FF6060;
  background-color: #F6F6F6;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 30px;
  text-align: left;
  list-style-type: none;
}


.active {
  visibility: visible;
  height: auto;
  opacity: 1;

}

.iconArrow {
  font-size: 1.3rem;
  cursor: pointer;
  transform: rotate(180deg);
  transition: all .3s ease;

  .fa-chevron-down {
    color: withe;
  }
}

.turnArrow {
  transition: all .5s ease;
  transform: rotate(0deg);
}

@media screen and (max-width: 600px) {

.active {
  height: auto;
  opacity: 1;

}


}