

nav {
      display: flex;
      justify-content: space-between;
      max-width: 1240px;
      margin: 30px auto;
      align-items: center;

      ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
      }

      li {
            text-decoration: none;
            margin-right: 20px;
      }

      a {
            text-decoration: none;
            color: #f96b6b;
            font-size: 24px;
            font-weight: 500;
      }

}

a:hover {
      text-decoration: underline;
}

nav img {
      width: 210.32px;
      margin: 10px;
}


@media screen and (max-width: 600px) {



      nav ul {
            align-items: center;

            a {
                  font-size: 17px;
            }

      }



      nav img {
            width: 145px;
            margin: 10px;
      }

}