.aproHero{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
    url("/img/hero Aprop.png");
    max-width: 1240px;
    height: 223px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color: aliceblue;
}